.routine_container {
    background-color: lightgrey;
    padding: 1%;
    height: 800px;
    margin: 20px;
    border-radius: 10px;
    box-shadow: 2px 2px 5px rgba(0,0,0,0.5);
}

.title {
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    margin-bottom: 10px;
    margin-left: 10px;
    margin-top: 5px;
    font-size: xx-large;
    color:#182B49;

}

.routine_calendar {
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    display: flex;
    flex-direction: row;
    margin: 0px;
    max-height: 700px;
  }

.routine_day {
    padding: 20px;
    background-color: #182B49;
    border-radius: 15px;
    margin-left: 10px;
    width: 12%;
}

.routine_header {
    text-align: center;
    color: white
}

.routine_workout{
    background-color: white;
    color: #182B49;
    border-radius: 10px;
    padding: 10px;
    text-align: center;
}