/* Navbar Styling */

#navbar {
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    background-color: #182B49;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 35px;
    padding: 25px;
  }
  
.title a {
    color: white;
    font-size: 35px;
    margin-left: 10px;
    text-decoration: none;
    font-weight: bold;
  }
  
.nav_buttons a {
    color: white;
    font-size: 25px;
    margin-right: 16px;
    text-decoration: none;
  }