/* Styling for home workout board*/
.workout_board {
  font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    display: flex;
    flex-direction: column;
    background-color: lightgrey;
    width: 35%;
    margin-left: 200px;
    padding: 20px;
    border-radius: 20px;
    box-shadow: 2px 2px 5px rgba(0,0,0,0.5);
  }
  
  .category_header {
    background-color: #182B49;
    color: white;
    padding: 20px;
    border-radius: 20px;
  }
  
  .category_section {
    margin: 10px 0;
    background-color: #182B49;
    color: white;
    padding: 20px;
    border-radius: 20px;
  }
  
  .category_button {
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    background-color: white; /* Light blue */
    font-size: large;
    padding: 10px 15px;
    margin: 5px;
    margin-left: 25px;
    border: none;
    cursor: pointer;
    border-radius: 10px;
    width: 200px;
    text-decoration: none;
  }

  .category_button a {
    text-decoration: none; /* Removes underline from links */
    color: currentColor; /* Inherits color from parent */
    display: block; /* Makes the link fill the button for clickable area */
    color:#182B49;
}