.container {
    display:flex;
    flex-direction: column;
    margin: 650px;
    margin-top: 200px;
    background-color: rgba(255,255,255,0.70);
    padding-bottom: 30px;
    border-radius: 50px;
}

.header {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 9px;
    width: 100%;
    margin-top: 30px;
}

.text {
    color: #000000;
    font-size: 48px;
    font-weight: 600;
    font-family: Segoe UI;
}

.underline {
    width: 70px;
    height: 6px;
    background: #000000;
    border-radius: 9px;
}

.inputs {
    margin-top: 55px;
    display: flex;
    flex-direction: column;
    gap: 25px;
}

.input {
    display: flex;
    align-items: center;
    margin: auto;
    width: 400px;
    height: 50px;
    background: #D3D3D3;
    border-radius: 10px;
}

::placeholder {
    text-align: center; 
    font-weight: 600;
    font-family: Segoe UI;
    color: #000000;
 }

.input input {
    height: 50px;
    width: 400px;
    background: transparent;
    border: none;
    outline: none;
    color: #000000;
    font-size: 19px;
    text-align: center; 
}

.submit-container {
    display: flex;
    gap: 30px;
    margin: 60px auto;
}

.submit {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 150px;
    height: 50px;
    color: #000000;
    background: #39FF14;
    border-radius: 50px;
    font-size: 19px;
    font-weight: 600;
    cursor: pointer;
    font-family: Segoe UI;
}